/*--------------animations---------------*/
@-webkit-keyframes show-popup-share {
  from {
    bottom: -90px;
  }
}
@keyframes show-popup-share {
  from {
    bottom: -90px;
  }
}
/*--------------/animations---------------*/
/*--------------upper---------------*/
.upper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upper-row__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.upper-row__text input {
  padding: 5px 10px;
  border: 1px solid #FF8303;
  width: 260px;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #FF8303;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}
.button:hover {
  background-color: #2b2a2a;
}
.button svg {
  width: 24px;
  height: 24px;
  fill: #FF8303;
}
.button--item {
  padding: 10px;
}
.button--item svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 10px;
  height: 10px;
}
.button--additional {
  padding: 10px;
}
.button--additional svg {
  width: 16px;
  height: 16px;
  fill: #D9D9D9;
}

/*--------------/upper---------------*/
/*--------------main-----------------*/
.main-block {
  margin-top: 30px;
}

.main-block__noTasks {
  text-align: center;
  padding-top: 40px;
  font-size: 24px;
  font-family: Inter, sans-serif;
  color: #fff;
}
.main-block__noTasks::before {
  content: "";
  display: block;
  background-color: #FF8303;
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-radius: 3px;
  height: 1px;
  width: 64px;
  margin-left: auto;
  margin-right: auto;
}
.main-block__noTasks::after {
  content: "";
  display: block;
  background-color: #FF8303;
  border-radius: 3px;
  margin-top: 10px;
  padding-top: 3px;
  height: 1px;
  width: 64px;
  margin-left: auto;
  margin-right: auto;
}

.main-block__tasks .main-block__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #FF8303;
  border-radius: 8px;
  padding: 10px 16px 16px;
  margin-bottom: 10px;
}

.task__text h2 {
  font-size: 22px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
.task__text p {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.main-block__buttons-additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
}

/*--------------/main-----------------*/
/*--------------popup-----------------*/
.popup-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  height: 140px;
  border: 1px solid #A35709;
  border-top: 5px solid #A35709;
  border-radius: 0 0 10px 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1E1E24;
}
.popup-block h3 {
  color: #fff;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: regular;
  text-align: center;
}

.popup-buttons__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.popup-button {
  display: inline-block;
  width: 64px;
  height: 24px;
  border: 1px solid #A35709;
  border-radius: 4px;
  -webkit-transition: border-color 0.1s ease-in;
  transition: border-color 0.1s ease-in;
}
.popup-button:hover {
  border-color: #FF8303;
}

/*--------------/popup-----------------*/
/*--------------popup-footer-----------------*/
.popup-share__block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #1B1A17;
  height: 76px;
  border-radius: 10px 10px 0 0;
}

.social-svg circle {
  fill: #23221F;
}
.social-svg path {
  fill: #F0E3CA;
  -webkit-transition: fill 0.1s ease-in;
  transition: fill 0.1s ease-in;
}
.social-svg:hover path {
  fill: #FF8303;
}

.phone__footer {
  -webkit-animation-name: show-popup-share;
          animation-name: show-popup-share;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*--------------/popup-footer-----------------*/
/*--------------popup-remake-----------------*/
.phone__remake {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.popup-remake__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 8px;
  padding-top: 18px;
  height: 450px;
  border-radius: 10px;
  background-color: #1B1A17;
}
.popup-remake__block input {
  height: 32px;
  width: 310px;
  border: 1px solid #FF8303;
  border-radius: 3px;
  padding: 0 5px;
}
.popup-remake__block textarea {
  width: 310px;
  border: 1px solid #FF8303;
  border-radius: 6px;
  resize: none;
  padding: 0 5px;
}

/*--------------/popup-remake-----------------*/