@import './vars.scss';

/*--------------animations---------------*/
@keyframes show-popup-share {
    from {
        bottom: -90px;
    }
}
/*--------------/animations---------------*/
/*--------------upper---------------*/
.upper-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper-row__text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    input {
        padding: 5px 10px;
        border: 1px solid $accent-color;
        width: 260px;
        border-radius: 5px;

        font-family: Roboto, sans-serif;
        font-size: 14px;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid $accent-color;

    transition: background-color 0.1s ease-in;

        &:hover {
            background-color: #2b2a2a;

        }

    & svg {
        width: 24px;
        height: 24px;
        fill: $accent-color;
    }

    &--item {
        padding: 10px;


        & svg {
            transform: rotate(45deg);
            width: 10px;
            height: 10px;
        }


    }

    &--additional {
        padding: 10px;
        & svg {
            width: 16px;
            height: 16px;
            fill: #D9D9D9;
        }
            
        }
    }


/*--------------/upper---------------*/
/*--------------main-----------------*/

.main-block {
    margin-top: 30px;
}

.main-block__noTasks {
    text-align: center;
    padding-top: 40px;
    font-size: 24px;
    font-family: Inter, sans-serif;
    color: #fff;

    &::before {
        content: '';
        display: block;
        background-color: $accent-color;
        margin-bottom: 10px;
        padding-bottom: 3px;
        border-radius: 3px;
        height: 1px;
        width: 64px;
        margin-left: auto;
        margin-right: auto;
    }

    &::after {
        content: '';
        display: block;
        background-color: $accent-color;
        border-radius: 3px;
        margin-top: 10px;
        padding-top: 3px;
        height: 1px;
        width: 64px;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-block__tasks {
    .main-block__task {
        display: flex;
        align-items: top;
        justify-content: space-between;

        border: 2px solid $accent-color;
        border-radius: 8px;

        padding: 10px 16px 16px;
        margin-bottom: 10px
    }


}

.task__text {
    h2 {
        font-size: 22px;
        font-family: Roboto, sans-serif;
        font-weight: 500;
    }

    p {
        font-size: 14px;
        font-family: Roboto, sans-serif;
    }
}


.main-block__buttons-additional {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 8px;

    margin-top: 8px;
    margin-bottom: 16px;
}
/*--------------/main-----------------*/
/*--------------popup-----------------*/


.popup-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;

    width: 280px;
    height: 140px;
    border: 1px solid $accent-color-black;
    border-top: 5px solid $accent-color-black;
    border-radius: 0 0 10px 10px;

    margin-left: auto;
    margin-right: auto;

    background-color: #1E1E24;

    h3 {
        color: #fff;
        font-size: 18px;
        font-family: Roboto, sans-serif;
        font-weight: regular;
        text-align: center;
    }
}

.popup-buttons__wrap {
    display: flex;
    column-gap: 10px;
}

.popup-button {
    display: inline-block;
    width: 64px;
    height: 24px;
    border: 1px solid $accent-color-black;
    border-radius: 4px;
    
    transition: border-color 0.1s ease-in;

    &:hover {
        border-color: $accent-color;
    }
}
/*--------------/popup-----------------*/
/*--------------popup-footer-----------------*/

.popup-share__block-list {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #1B1A17;
    
    height: 76px;

    border-radius: 10px 10px 0 0;
}

.social-svg {
    circle {
        fill: #23221F;
    };

    path {
        fill: #F0E3CA;
        transition: fill 0.1s ease-in;
    }

    &:hover {
        path {
            fill: $accent-color;
        }
    }
}


.phone__footer {
    animation-name: show-popup-share;
    animation-duration: 0.3s;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}



/*--------------/popup-footer-----------------*/
