@import './vars.scss';

/*--------------upper---------------*/
.upper-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper-row__text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    input {
        padding: 5px 10px;
        border: 1px solid $accent-color;
        width: 260px;
        border-radius: 5px;

        font-family: Roboto, sans-serif;
        font-size: 14px;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid $accent-color;

    transition: background-color 0.1s ease-in;

        &:hover {
            background-color: #2b2a2a;

        }

    & svg {
        width: 24px;
        height: 24px;
        fill: $accent-color;
    }

    &--item {
        padding: 10px;


        & svg {
            transform: rotate(45deg);
            width: 10px;
            height: 10px;
        }


    }
}

/*--------------/upper---------------*/
/*--------------main-----------------*/

.main-block {
    margin-top: 30px;
}

.main-block__noTasks {
    text-align: center;
    padding-top: 40px;
    font-size: 24px;
    font-family: Inter, sans-serif;
    color: #fff;

    &::before {
        content: '';
        display: block;
        background-color: $accent-color;
        margin-bottom: 10px;
        padding-bottom: 3px;
        border-radius: 3px;
        height: 1px;
        width: 64px;
        margin-left: auto;
        margin-right: auto;
    }

    &::after {
        content: '';
        display: block;
        background-color: $accent-color;
        border-radius: 3px;
        margin-top: 10px;
        padding-top: 3px;
        height: 1px;
        width: 64px;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-block__wrapper {}

.main-block__tasks {
    li {
        display: flex;
        align-items: top;
        justify-content: space-between;

        border: 2px solid $accent-color;
        border-radius: 8px;

        padding: 10px 16px 16px;
    }

    li+li {
        margin-top: 20px;
    }
}

.task__text {
    h2 {
        font-size: 22px;
        font-family: Roboto, sans-serif;
        font-weight: 500;
    }

    p {
        font-size: 14px;
        font-family: Roboto, sans-serif;
    }
}

/*--------------/main-----------------*/